header
    height: 300px
    padding: 20px 16px
    background: linear-gradient(305deg, #dbfff3, transparent)
    >div
        display: flex
        flex-direction: column
        justify-content: space-between
        height: 100%
        .topNav
            display: flex
            justify-content: space-between
            align-content: center
            ul
                display: flex
                list-style-type: none
                gap: 15px
                li
                    font-weight: 600
                    font-size: 16px
        .title
            width: 50%
            font-size: 40px
            text-transform: uppercase
footer
    background-color: #333
    color: #fff
    padding: 10px 16px
    text-align: center
main
    width: 100%
    max-width: 1250px
    margin: 0 auto
    padding: 100px 16px
.home__body
    display: flex
    flex-direction: column
    gap: 50px
    .card
        display: flex
        flex-direction: row
        gap: 30px
        justify-content: center
        align-items: center
        &:nth-child(even)
            direction: rtl
        .content
            width: 50%
    